.load-content-card {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    color:black;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.load-content-card h4 {
    margin: 0 0 16px;
}

.load-content-card .error {
    color: red;
}

.load-content-card .content {
    color: black;
    margin-top: 16px;
    white-space: pre-wrap;
}
