.note-taking-card {
    display: flex;
    flex-direction: column;
    width: 100%;  /* Assurez-vous que c'est bien 100% de son parent */
    height: auto; /* ou fixez une hauteur spécifique si nécessaire */
    padding: 10px;
    box-sizing: border-box;
}

.note-taking-card textarea,
.note-taking-card button {
    width: 100%;    /* Adaptation des enfants à la largeur de la carte */
    margin: 5px 0;  /* Espacement pour clarté */
}


.note-taking-card textarea {
    width: 100%;
    min-height: 150px; /* Hauteur minimale */
    max-height: 300px; /* Hauteur maximale avant de commencer à défiler */
    height: auto; /* S'ajuste au contenu */
    overflow-y: auto; /* Permet le défilement vertical si nécessaire */
    resize: none; /* Empêche l'utilisateur de redimensionner le textarea */
}