.hour-time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
}

#app-horloge {
    width: 80%;
    height: 80%;
}

svg {
    width: 100%;
    height: 100%;
}

rect {
    transform-origin: center center;
    fill: var(--color-text);
}

circle.center {
    fill: var(--color-text);
}

circle.border {
    stroke-width: 1%;
    fill: none;
    stroke: var(--color-text);
}

.seconds, .minutes, .hours {
    transform-origin: center center;
}
