.note-taking-card {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.note-taking-card.is-resizing .note-taking-card-content {
    display: none;
}

.note-taking-card.is-resizing .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.note-taking-card-content {
    flex-grow: 1;
    overflow-y: auto;
}

.quill-editor-container {
    height: 100%;
    width: 100%;
}

.quill-editor-container-disabled {
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
}

.ql-toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background: #fff;
}

.note-taking-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: white;
    border-top: 1px solid #ddd;
    position: sticky;
    bottom: 0;
    z-index: 100;
}

.card-stats {
    position: sticky;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    padding: 2px 5px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 10px;
    color: lightgray;
}

.note-taking-card-info {
    margin-top: 5px;
}

.ql-container {
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.ql-editor {
    flex-grow: 1;
    overflow-y: auto;
    height: 100%;
}

.ql-editor img,
.ql-editor iframe {
    max-width: 100%;
    height: auto;
}

.ql-editor iframe {
    pointer-events: all;
    resize: both;
    margin: 10px;
    border: none;
    padding: 10px;
}

.ql-editor .resize-handle {
    position: absolute;
    width: 12px;
    height: 12px;
    background: white;
    border: 1px solid black;
    box-sizing: border-box;
    z-index: 10;
}

.ql-editor .resize-handle::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    z-index: 10;
}

.ql-video-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="extra-small"]::before {
    content: 'Size 1';
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="small"]::before {
    content: 'Size 2';
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="medium"]::before {
    content: 'Size 3';
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="large"]::before {
    content: 'Size 4';
}

/* Effet au survol pour la carte */
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.note-taking-card.is-dragging .note-taking-card-content,
.note-taking-card.is-resizing .note-taking-card-content {
    display: none;
}

.note-taking-card.is-dragging .loader,
.note-taking-card.is-resizing .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.quill-editor-container-disabled {
    display: none; /* Cache le conteneur Quill lorsqu'il est désactivé */
}
