.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adaptez cette valeur selon la largeur minimale désirée pour les cartes */
    gap: 20px; /* Espacement entre les cartes */
    padding: 20px; /* Espace autour de la grille */
    width: 100%; /* Assure que la grille prend toute la largeur disponible */
    height: auto; /* S'adapte à la hauteur du contenu */
}

.card {
    width: 100%; /* Assurez-vous que la carte prend toute la largeur de son conteneur */
    height: 100%; /* Assurez-vous que la carte prend toute la hauteur de son conteneur */
    box-sizing: border-box; /* Inclut padding et border dans la dimension de l'élément */
}

.react-grid-item {
    border: 1px solid rgba(159, 63, 63, 0.5); /* Style spécifique pour les items */
    background-color: white; /* Fond blanc pour une meilleure lisibilité */
    box-shadow: 5px 5px 15px rgba(159, 63, 63, 0.5); /* Ombre pour du relief */
}

/* S'assure que le composant de grille remplit le conteneur parent */
.layout {
    width: auto; /* Prend toute la largeur du conteneur parent */
    height: auto; /* S'adapte à la hauteur du contenu, avec un minimum de 100vh */
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de grille de passer à la ligne suivante si nécessaire */
}
