/* Conteneur de la grille */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
    height: auto;
}

/* Carte individuelle */
.card {
    width: 100%; /* Assurez-vous que la carte prend toute la largeur de son conteneur */
    height: 100%; /* Assurez-vous que la carte prend toute la hauteur de son conteneur */
    box-sizing: border-box; /* Inclut padding et border dans la dimension de l'élément */
}


.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


/* S'assure que le composant de grille remplit le conteneur parent */
.layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-color: #1c1e26;
}

.react-grid-item {
    box-shadow: 5px 5px 15px rgba(101, 159, 63, 0.23);
}

.react-grid-item.react-grid-placeholder {
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px dashed #9f3f3f;
    transition: opacity 0.3s;
    opacity: 0.5;
}

.react-grid-item.dragging {
    opacity: 0.9;
    cursor: grabbing;
}