.theme-switcher {
  position: relative;
}

.theme-switcher-popup {
  position: absolute;
  top: 40px;
  right: 0;
  background: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  box-shadow: 0 4px 8px var(--color-shadow);
  z-index: 1000;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.theme-preview {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-bottom: 5px;
  color: var(--color-text); /* Pour une meilleure lisibilité */
}

.theme-preview.selected {
  border: 2px solid var(--color-primary);
}

.theme-preview:hover {
  background-color: var(--color-shadow);
}

.light-theme {
  background-color: var(--color-light-background);
  color: var(--color-light-text);
}

.dark-theme {
  background-color: var(--color-dark-background);
  color: var(--color-dark-text);
}
