.ql-toolbar .ql-formats button,
.ql-toolbar .ql-formats select,
.ql-toolbar .ql-picker-label,
.ql-toolbar .ql-picker-item {
  background-color: var(--color-button-bg);
  border: 1px solid var(--color-border);
  color: var(--color-text);
  border-radius: 4px;
  margin: 2px;
  padding: 0 10px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  font-size: 16px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--color-shadow);
}

/* Styles communs pour les boutons align et color */
.ql-toolbar .ql-formats button.ql-align,
.ql-toolbar .ql-formats select.ql-align,
.ql-toolbar .ql-formats button.ql-color,
.ql-toolbar .ql-formats select.ql-color {
  background-color: var(--color-button-bg);
  border: 1px solid var(--color-border);
  color: var(--color-text);
  border-radius: 4px;
  margin: 2px;
  padding: 0 10px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  font-size: 16px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--color-shadow);
}

/* Ajustements spécifiques pour les éléments select */
.ql-toolbar .ql-formats select {
  width: auto;
  font-size: 16px;
}

/* Effets de survol */
.ql-toolbar .ql-formats button:hover,
.ql-toolbar .ql-formats select:hover,
.ql-toolbar .ql-picker-label:hover,
.ql-toolbar .ql-picker-item:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px var(--color-shadow);
}

/* Styles pour le thème clair */
body.light-theme .ql-toolbar .ql-formats button,
body.light-theme .ql-toolbar .ql-formats select,
body.light-theme .ql-picker-label,
body.light-theme .ql-picker-item {
  color: var(--color-text);
}

/* Styles pour le thème sombre */
body.dark-theme .ql-toolbar .ql-formats button,
body.dark-theme .ql-toolbar .ql-formats select,
body.dark-theme .ql-picker-label,
body.dark-theme .ql-picker-item {
  background-color: rgba(50, 50, 50, 0.7);
  border: 1px solid rgba(100, 100, 100, 0.5);
  color: #ffffff;
}

/* Effets de survol pour le thème sombre */
body.dark-theme .ql-toolbar .ql-formats button:hover,
body.dark-theme .ql-toolbar .ql-formats select:hover,
body.dark-theme .ql-picker-label:hover,
body.dark-theme .ql-picker-item:hover {
  background-color: rgba(75, 75, 75, 0.8);
  color: #ffffff;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

/* Effets actifs pour le thème sombre */
body.dark-theme .ql-toolbar .ql-formats button:active,
body.dark-theme .ql-toolbar .ql-formats select:active,
body.dark-theme .ql-picker-label:active,
body.dark-theme .ql-picker-item:active {
  background-color: rgba(100, 100, 100, 0.9);
  color: #ffffff;
}

body {
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid var(--color-border);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-button-bg);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  color: var(--color-text);
  box-shadow: var(--color-shadow);
}

button:hover {
  background-color: var(--color-primary-hover);
  transform: scale(1.05);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.add-card-btn {
  background-color: var(--color-button-bg);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin: 10px;
  box-shadow: var(--color-shadow);
}

.add-card-btn:hover {
  background-color: var(--color-primary-hover);
  transform: scale(1.05);
}

/* Ajout des styles pour les champs de formulaire */
input, textarea {
  background-color: var(--color-background);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  padding: 8px;
  border-radius: 5px;
  box-shadow: var(--color-shadow);
}

input::placeholder, textarea::placeholder {
  color: var(--color-text);
}
