:root {
  --font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;

  /* Light Theme Colors */
  --color-light-background: #ffffff;
  --color-light-text: #213547;
  --color-light-primary: #646cff;
  --color-light-primary-hover: #535bf2;
  --color-light-button-bg: #f9f9f9;
  --color-light-border: #e0e0e0;
  --color-light-shadow: rgba(0, 0, 0, 0.1);
  --color-light-stat-background: rgba(0, 0, 0, 0.1);
  --color-light-stat-text: #213547;

  /* Dark Theme Colors */
  --color-dark-background: #282c34;
  --color-dark-text: rgba(255, 255, 255, 0.87);
  --color-dark-primary: #646cff;
  --color-dark-primary-hover: #535bf2;
  --color-dark-button-bg: #1a1a1a;
  --color-dark-border: #3c414a;
  --color-dark-shadow: rgba(255, 255, 255, 0.1);
  --color-dark-stat-background: rgba(255, 255, 255, 0.2);
  --color-dark-stat-text: rgba(255, 255, 255, 0.87);

  /* Common Box Shadow */
  --box-shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);
  --box-shadow-dark: 0 4px 8px rgba(255, 255, 255, 0.1);

  /* Default Theme */
  --color-background: var(--color-light-background);
  --color-text: var(--color-light-text);
  --color-primary: var(--color-light-primary);
  --color-primary-hover: var(--color-light-primary-hover);
  --color-button-bg: var(--color-light-button-bg);
  --color-border: var(--color-light-border);
  --color-shadow: var(--box-shadow-light);
  --color-stat-background: var(--color-light-stat-background);
  --color-stat-text: var(--color-light-stat-text);
}

body.light-theme {
  --color-background: var(--color-light-background);
  --color-text: var(--color-light-text);
  --color-primary: var(--color-light-primary);
  --color-primary-hover: var(--color-light-primary-hover);
  --color-button-bg: var(--color-light-button-bg);
  --color-border: var(--color-light-border);
  --color-shadow: var(--box-shadow-light);
  --color-stat-background: var(--color-light-stat-background);
  --color-stat-text: var(--color-light-stat-text);
}

body.dark-theme {
  --color-background: var(--color-dark-background);
  --color-text: var(--color-dark-text);
  --color-primary: var(--color-dark-primary);
  --color-primary-hover: var(--color-dark-primary-hover);
  --color-button-bg: var(--color-dark-button-bg);
  --color-border: var(--color-dark-border);
  --color-shadow: var(--box-shadow-dark);
  --color-stat-background: var(--color-dark-stat-background);
  --color-stat-text: var(--color-dark-stat-text);
}

body {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-primary-hover);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-button-bg);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--color-text); /* Pour une meilleure lisibilité */
}

button:hover {
  border-color: var(--color-primary);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.add-card-btn {
  background-color: var(--color-border);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.add-card-btn:hover {
  background-color: var(--color-shadow);
}

/* Ajout des styles pour les champs de formulaire */
input, textarea {
  background-color: var(--color-background);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  padding: 8px;
  border-radius: 5px;
}

input::placeholder, textarea::placeholder {
  color: var(--color-text);
}
