:root {
  --font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;
  --header-height: 60px;

  /* Modern Theme Colors */
  --color-modern-background: #1b1f3b;
  --color-modern-text: #ffffff;
  --color-modern-primary: #29abe2;
  --color-modern-primary-hover: #1d8dbc;
  --color-modern-button-bg: #2c2f48;
  --color-modern-border: #3c3f58;
  --color-modern-shadow: rgba(0, 150, 255, 0.3);
  --color-modern-stat-background: rgba(0, 150, 255, 0.1);
  --color-modern-stat-text: #29abe2;

  /* Default Theme */
  --color-background: var(--color-modern-background);
  --color-text: var(--color-modern-text);
  --color-primary: var(--color-modern-primary);
  --color-primary-hover: var(--color-modern-primary-hover);
  --color-button-bg: var(--color-modern-button-bg);
  --color-border: var(--color-modern-border);
  --color-shadow: var(--color-modern-shadow);
  --color-stat-background: var(--color-modern-stat-background);
  --color-stat-text: var(--color-modern-stat-text);

  /* Light Theme Colors */
  --color-light-background: #ffffff;
  --color-light-text: #213547;
  --color-light-primary: #646cff;
  --color-light-primary-hover: #535bf2;
  --color-light-button-bg: #f9f9f9;
  --color-light-border: #e0e0e0;
  --color-light-shadow: rgba(0, 0, 0, 0.1);
  --color-light-stat-background: rgba(0, 0, 0, 0.1);
  --color-light-stat-text: #213547;

  /* Dark Theme Colors */
  --color-dark-background: #282c34;
  --color-dark-text: rgba(255, 255, 255, 0.87);
  --color-dark-primary: #646cff;
  --color-dark-primary-hover: #535bf2;
  --color-dark-button-bg: #1a1a1a;
  --color-dark-border: #3c414a;
  --color-dark-shadow: rgba(255, 255, 255, 0.1);
  --color-dark-stat-background: rgba(255, 255, 255, 0.2);
  --color-dark-stat-text: rgba(255, 255, 255, 0.87);

  /* Blue Theme Colors */
  --color-blue-light-background: #e0f7fa;
  --color-blue-light-text: #00796b;
  --color-blue-light-primary: #009688;
  --color-blue-light-primary-hover: #00897b;
  --color-blue-light-button-bg: #b2dfdb;
  --color-blue-light-border: #004d40;
  --color-blue-light-shadow: rgba(0, 150, 136, 0.1);
  --color-blue-light-stat-background: rgba(0, 150, 136, 0.1);
  --color-blue-light-stat-text: #00796b;

  --color-blue-dark-background: #0a3430;
  --color-blue-dark-text: #80cbc4;
  --color-blue-dark-primary: #00796b;
  --color-blue-dark-primary-hover: #004d40;
  --color-blue-dark-button-bg: #004d40;
  --color-blue-dark-border: #00251a;
  --color-blue-dark-shadow: rgba(0, 150, 136, 0.1);
  --color-blue-dark-stat-background: rgba(0, 150, 136, 0.2);
  --color-blue-dark-stat-text: #80cbc4;

  /* Green Theme Colors */
  /* Green Theme Colors */
  --color-green-light-background: #e8f5e9;
  --color-green-light-text: #2e7d32;
  --color-green-light-primary: #4caf50;
  --color-green-light-primary-hover: #388e3c;
  --color-green-light-button-bg: #c8e6c9;
  --color-green-light-border: #1b5e20;
  --color-green-light-shadow: rgba(76, 175, 80, 0.1);
  --color-green-light-stat-background: rgba(76, 175, 80, 0.1);
  --color-green-light-stat-text: #2e7d32;

  --color-green-dark-background: #0f2d1e;
  --color-green-dark-text: #a5d6a7;
  --color-green-dark-primary: #2e7d32;
  --color-green-dark-primary-hover: #388e3c;
  --color-green-dark-button-bg: #1b5e20;
  --color-green-dark-border: #0c3810;
  --color-green-dark-shadow: rgba(76, 175, 80, 0.1);
  --color-green-dark-stat-background: rgba(76, 175, 80, 0.2);
  --color-green-dark-stat-text: #a5d6a7;

  /* Red Theme Colors */
  --color-red-light-background: #ffebee;
  --color-red-light-text: #c62828;
  --color-red-light-primary: #f44336;
  --color-red-light-primary-hover: #d32f2f;
  --color-red-light-button-bg: #ffcdd2;
  --color-red-light-border: #b71c1c;
  --color-red-light-shadow: rgba(244, 67, 54, 0.1);
  --color-red-light-stat-background: rgba(244, 67, 54, 0.1);
  --color-red-light-stat-text: #c62828;

  --color-red-dark-background: #3d0b0b;
  --color-red-dark-text: #ffcdd2;
  --color-red-dark-primary: #b71c1c;
  --color-red-dark-primary-hover: #d32f2f;
  --color-red-dark-button-bg: #b71c1c;
  --color-red-dark-border: #7f0000;
  --color-red-dark-shadow: rgba(244, 67, 54, 0.1);
  --color-red-dark-stat-background: rgba(244, 67, 54, 0.2);
  --color-red-dark-stat-text: #ffcdd2;

  /* Pastel Theme Colors */
  --color-pastel-light-background: #f8f4ff;
  --color-pastel-light-text: #7e57c2;
  --color-pastel-light-primary: #b39ddb;
  --color-pastel-light-primary-hover: #9575cd;
  --color-pastel-light-button-bg: #d1c4e9;
  --color-pastel-light-border: #4a148c;
  --color-pastel-light-shadow: rgba(179, 157, 219, 0.1);
  --color-pastel-light-stat-background: rgba(179, 157, 219, 0.1);
  --color-pastel-light-stat-text: #7e57c2;

  --color-pastel-dark-background: #3b2767;
  --color-pastel-dark-text: #d1c4e9;
  --color-pastel-dark-primary: #7e57c2;
  --color-pastel-dark-primary-hover: #9575cd;
  --color-pastel-dark-button-bg: #7e57c2;
  --color-pastel-dark-border: #12005e;
  --color-pastel-dark-shadow: rgba(179, 157, 219, 0.1);
  --color-pastel-dark-stat-background: rgba(179, 157, 219, 0.2);
  --color-pastel-dark-stat-text: #d1c4e9;

  /* Additional Themes */
  /* Theme 1 */
  --color-theme1-background: #222831;
  --color-theme1-text: #EEEEEE;
  --color-theme1-primary: #00ADB5;
  --color-theme1-primary-hover: #00796b;
  --color-theme1-button-bg: #393E46;
  --color-theme1-border: #004d40;
  --color-theme1-shadow: rgba(0, 150, 136, 0.1);
  --color-theme1-stat-background: rgba(0, 150, 136, 0.1);
  --color-theme1-stat-text: #00ADB5;

  --color-theme2-background: #E3FDFD;
  --color-theme2-text: #71C9CE;
  --color-theme2-primary: #A6E3E9;
  --color-theme2-primary-hover: #00897b;
  --color-theme2-button-bg: #CBF1F5;
  --color-theme2-border: #004d40;
  --color-theme2-shadow: rgba(0, 150, 136, 0.1);
  --color-theme2-stat-background: rgba(0, 150, 136, 0.1);
  --color-theme2-stat-text: #00796b;

  --color-theme3-background: #F9F7F7;
  --color-theme3-text: #112D4E;
  --color-theme3-primary: #3F72AF;
  --color-theme3-primary-hover: #535bf2;
  --color-theme3-button-bg: #DBE2EF;
  --color-theme3-border: #004d40;
  --color-theme3-shadow: rgba(0, 150, 136, 0.1);
  --color-theme3-stat-background: rgba(0, 150, 136, 0.1);
  --color-theme3-stat-text: #213547;

  --color-theme4-background: #FFC7C7;
  --color-theme4-text: #8785A2;
  --color-theme4-primary: #F6F6F6;
  --color-theme4-primary-hover: #535bf2;
  --color-theme4-button-bg: #FFE2E2;
  --color-theme4-border: #004d40;
  --color-theme4-shadow: rgba(0, 150, 136, 0.1);
  --color-theme4-stat-background: rgba(0, 150, 136, 0.1);
  --color-theme4-stat-text: #213547;

  --color-theme5-background: #FFF5E4;
  --color-theme5-text: #FF9494;
  --color-theme5-primary: #FFD1D1;
  --color-theme5-primary-hover: #535bf2;
  --color-theme5-button-bg: #FFE3E1;
  --color-theme5-border: #004d40;
  --color-theme5-shadow: rgba(0, 150, 136, 0.1);
  --color-theme5-stat-background: rgba(0, 150, 136, 0.1);
  --color-theme5-stat-text: #213547;

  --color-theme6-background: #AD8B73;
  --color-theme6-text: #FFFBE9;
  --color-theme6-primary: #E3CAA5;
  --color-theme6-primary-hover: #535bf2;
  --color-theme6-button-bg: #CEAB93;
  --color-theme6-border: #004d40;
  --color-theme6-shadow: rgba(0, 150, 136, 0.1);
  --color-theme6-stat-background: rgba(0, 150, 136, 0.1);
  --color-theme6-stat-text: #213547;

  --color-theme7-background: #08D9D6;
  --color-theme7-text: #EAEAEA;
  --color-theme7-primary: #FF2E63;
  --color-theme7-primary-hover: #535bf2;
  --color-theme7-button-bg: #252A34;
  --color-theme7-border: #004d40;
  --color-theme7-shadow: rgba(0, 150, 136, 0.1);
  --color-theme7-stat-background: rgba(0, 150, 136, 0.1);
  --color-theme7-stat-text: #213547;

  --color-theme8-background: #F9ED69;
  --color-theme8-text: #6A2C70;
  --color-theme8-primary: #B83B5E;
  --color-theme8-primary-hover: #535bf2;
  --color-theme8-button-bg: #F08A5D;
  --color-theme8-border: #004d40;
  --color-theme8-shadow: rgba(0, 150, 136, 0.1);
  --color-theme8-stat-background: rgba(0, 150, 136, 0.1);
  --color-theme8-stat-text: #213547;

  --color-theme9-background: #F4EEFF;
  --color-theme9-text: #424874;
  --color-theme9-primary: #A6B1E1;
  --color-theme9-primary-hover: #535bf2;
  --color-theme9-button-bg: #DCD6F7;
  --color-theme9-border: #004d40;
  --color-theme9-shadow: rgba(0, 150, 136, 0.1);
  --color-theme9-stat-background: rgba(0, 150, 136, 0.1);
  --color-theme9-stat-text: #213547;

  --color-theme10-background: #F38181;
  --color-theme10-text: #95E1D3;
  --color-theme10-primary: #EAFFD0;
  --color-theme10-primary-hover: #535bf2;
  --color-theme10-button-bg: #FCE38A;
  --color-theme10-border: #004d40;
  --color-theme10-shadow: rgba(0, 150, 136, 0.1);
  --color-theme10-stat-background: rgba(0, 150, 136, 0.1);
  --color-theme10-stat-text: #213547;

  --color-theme11-background: #1B262C;
  --color-theme11-text: #ffffff;
  --color-theme11-primary: #3282B8;
  --color-theme11-primary-hover: #535bf2;
  --color-theme11-button-bg: #0F4C75;
  --color-theme11-border: #004d40;
  --color-theme11-shadow: rgba(0, 150, 136, 0.1);
  --color-theme11-stat-background: rgba(0, 150, 136, 0.1);
  --color-theme11-stat-text: #213547;

  --color-theme12-background: #A8D8EA;
  --color-theme12-text: #FFFFD2;
  --color-theme12-primary: #FCBAD3;
  --color-theme12-primary-hover: #535bf2;
  --color-theme12-button-bg: #AA96DA;
  --color-theme12-border: #004d40;
  --color-theme12-shadow: rgba(0, 150, 136, 0.1);
  --color-theme12-stat-background: rgba(0, 150, 136, 0.1);
  --color-theme12-stat-text: #213547;


  --color-theme13-background: #FF6F61; /* Fond corail */
  --color-theme13-text: #FAFAFA; /* Texte blanc cassé */
  --color-theme13-primary: #FFCCBC; /* Primaire corail clair */
  --color-theme13-primary-hover: #FF8A65; /* Primaire survol corail plus foncé */
  --color-theme13-button-bg: #FFAB91; /* Fond de bouton corail doux */
  --color-theme13-border: #D84315; /* Bordure corail foncé */
  --color-theme13-shadow: rgba(255, 112, 67, 0.3); /* Ombre corail translucide */
  --color-theme13-stat-background: rgba(255, 112, 67, 0.1); /* Fond de statistique corail translucide */
  --color-theme13-stat-text: #3E2723; /* Texte de statistique corail foncé */

}



body.light-theme {
  --color-background: var(--color-light-background);
  --color-text: var(--color-light-text);
  --color-primary: var(--color-light-primary);
  --color-primary-hover: var(--color-light-primary-hover);
  --color-button-bg: var(--color-light-button-bg);
  --color-border: var(--color-light-border);
  --color-shadow: var(--color-light-shadow);
  --color-stat-background: var(--color-light-stat-background);
  --color-stat-text: var(--color-light-stat-text);
}

body.dark-theme {
  --color-background: var(--color-dark-background);
  --color-text: var(--color-dark-text);
  --color-primary: var(--color-dark-primary);
  --color-primary-hover: var(--color-dark-primary-hover);
  --color-button-bg: var(--color-dark-button-bg);
  --color-border: var(--color-dark-border);
  --color-shadow: var(--color-dark-shadow);
  --color-stat-background: var(--color-dark-stat-background);
  --color-stat-text: var(--color-dark-stat-text);
}

body.blue-light-theme {
  --color-background: var(--color-blue-light-background);
  --color-text: var(--color-blue-light-text);
  --color-primary: var(--color-blue-light-primary);
  --color-primary-hover: var(--color-blue-light-primary-hover);
  --color-button-bg: var(--color-blue-light-button-bg);
  --color-border: var(--color-blue-light-border);
  --color-shadow: var(--color-blue-light-shadow);
  --color-stat-background: var(--color-blue-light-stat-background);
  --color-stat-text: var(--color-blue-light-stat-text);
}

body.blue-dark-theme {
  --color-background: var(--color-blue-dark-background);
  --color-text: var(--color-blue-dark-text);
  --color-primary: var(--color-blue-dark-primary);
  --color-primary-hover: var(--color-blue-dark-primary-hover);
  --color-button-bg: var(--color-blue-dark-button-bg);
  --color-border: var(--color-blue-dark-border);
  --color-shadow: var(--color-blue-dark-shadow);
  --color-stat-background: var(--color-blue-dark-stat-background);
  --color-stat-text: var(--color-blue-dark-stat-text);
}

body.green-light-theme {
  --color-background: var(--color-green-light-background);
  --color-text: var(--color-green-light-text);
  --color-primary: var(--color-green-light-primary);
  --color-primary-hover: var(--color-green-light-primary-hover);
  --color-button-bg: var(--color-green-light-button-bg);
  --color-border: var(--color-green-light-border);
  --color-shadow: var(--color-green-light-shadow);
  --color-stat-background: var(--color-green-light-stat-background);
  --color-stat-text: var(--color-green-light-stat-text);
}

body.green-dark-theme {
  --color-background: var(--color-green-dark-background);
  --color-text: var(--color-green-dark-text);
  --color-primary: var(--color-green-dark-primary);
  --color-primary-hover: var(--color-green-dark-primary-hover);
  --color-button-bg: var(--color-green-dark-button-bg);
  --color-border: var(--color-green-dark-border);
  --color-shadow: var(--color-green-dark-shadow);
  --color-stat-background: var(--color-green-dark-stat-background);
  --color-stat-text: var(--color-green-dark-stat-text);
}

body.red-light-theme {
  --color-background: var(--color-red-light-background);
  --color-text: var(--color-red-light-text);
  --color-primary: var(--color-red-light-primary);
  --color-primary-hover: var(--color-red-light-primary-hover);
  --color-button-bg: var(--color-red-light-button-bg);
  --color-border: var(--color-red-light-border);
  --color-shadow: var(--color-red-light-shadow);
  --color-stat-background: var(--color-red-light-stat-background);
  --color-stat-text: var(--color-red-light-stat-text);
}

body.red-dark-theme {
  --color-background: var(--color-red-dark-background);
  --color-text: var(--color-red-dark-text);
  --color-primary: var(--color-red-dark-primary);
  --color-primary-hover: var(--color-red-dark-primary-hover);
  --color-button-bg: var(--color-red-dark-button-bg);
  --color-border: var(--color-red-dark-border);
  --color-shadow: var(--color-red-dark-shadow);
  --color-stat-background: var(--color-red-dark-stat-background);
  --color-stat-text: var(--color-red-dark-stat-text);
}

body.pastel-light-theme {
  --color-background: var(--color-pastel-light-background);
  --color-text: var(--color-pastel-light-text);
  --color-primary: var(--color-pastel-light-primary);
  --color-primary-hover: var(--color-pastel-light-primary-hover);
  --color-button-bg: var(--color-pastel-light-button-bg);
  --color-border: var(--color-pastel-light-border);
  --color-shadow: var(--color-pastel-light-shadow);
  --color-stat-background: var(--color-pastel-light-stat-background);
  --color-stat-text: var(--color-pastel-light-stat-text);
}

body.pastel-dark-theme {
  --color-background: var(--color-pastel-dark-background);
  --color-text: var(--color-pastel-dark-text);
  --color-primary: var(--color-pastel-dark-primary);
  --color-primary-hover: var(--color-pastel-dark-primary-hover);
  --color-button-bg: var(--color-pastel-dark-button-bg);
  --color-border: var(--color-pastel-dark-border);
  --color-shadow: var(--color-pastel-dark-shadow);
  --color-stat-background: var(--color-pastel-dark-stat-background);
  --color-stat-text: var(--color-pastel-dark-stat-text);
}

body.theme1 {
  --color-background: var(--color-theme1-background);
  --color-text: var(--color-theme1-text);
  --color-primary: var(--color-theme1-primary);
  --color-primary-hover: var(--color-theme1-primary-hover);
  --color-button-bg: var(--color-theme1-button-bg);
  --color-border: var(--color-theme1-border);
  --color-shadow: var(--color-theme1-shadow);
  --color-stat-background: var(--color-theme1-stat-background);
  --color-stat-text: var(--color-theme1-stat-text);
}

body.theme2 {
  --color-background: var(--color-theme2-background);
  --color-text: var(--color-theme2-text);
  --color-primary: var(--color-theme2-primary);
  --color-primary-hover: var(--color-theme2-primary-hover);
  --color-button-bg: var(--color-theme2-button-bg);
  --color-border: var(--color-theme2-border);
  --color-shadow: var(--color-theme2-shadow);
  --color-stat-background: var(--color-theme2-stat-background);
  --color-stat-text: var(--color-theme2-stat-text);
}

body.theme3 {
  --color-background: var(--color-theme3-background);
  --color-text: var(--color-theme3-text);
  --color-primary: var(--color-theme3-primary);
  --color-primary-hover: var(--color-theme3-primary-hover);
  --color-button-bg: var(--color-theme3-button-bg);
  --color-border: var(--color-theme3-border);
  --color-shadow: var(--color-theme3-shadow);
  --color-stat-background: var(--color-theme3-stat-background);
  --color-stat-text: var(--color-theme3-stat-text);
}

body.theme4 {
  --color-background: var(--color-theme4-background);
  --color-text: var(--color-theme4-text);
  --color-primary: var(--color-theme4-primary);
  --color-primary-hover: var(--color-theme4-primary-hover);
  --color-button-bg: var(--color-theme4-button-bg);
  --color-border: var(--color-theme4-border);
  --color-shadow: var(--color-theme4-shadow);
  --color-stat-background: var(--color-theme4-stat-background);
  --color-stat-text: var(--color-theme4-stat-text);
}

body.theme5 {
  --color-background: var(--color-theme5-background);
  --color-text: var(--color-theme5-text);
  --color-primary: var(--color-theme5-primary);
  --color-primary-hover: var(--color-theme5-primary-hover);
  --color-button-bg: var(--color-theme5-button-bg);
  --color-border: var(--color-theme5-border);
  --color-shadow: var(--color-theme5-shadow);
  --color-stat-background: var(--color-theme5-stat-background);
  --color-stat-text: var(--color-theme5-stat-text);
}

body.theme6 {
  --color-background: var(--color-theme6-background);
  --color-text: var(--color-theme6-text);
  --color-primary: var(--color-theme6-primary);
  --color-primary-hover: var(--color-theme6-primary-hover);
  --color-button-bg: var(--color-theme6-button-bg);
  --color-border: var(--color-theme6-border);
  --color-shadow: var(--color-theme6-shadow);
  --color-stat-background: var(--color-theme6-stat-background);
  --color-stat-text: var(--color-theme6-stat-text);
}

body.theme7 {
  --color-background: var(--color-theme7-background);
  --color-text: var(--color-theme7-text);
  --color-primary: var(--color-theme7-primary);
  --color-primary-hover: var(--color-theme7-primary-hover);
  --color-button-bg: var(--color-theme7-button-bg);
  --color-border: var(--color-theme7-border);
  --color-shadow: var(--color-theme7-shadow);
  --color-stat-background: var(--color-theme7-stat-background);
  --color-stat-text: var(--color-theme7-stat-text);
}

body.theme8 {
  --color-background: var(--color-theme8-background);
  --color-text: var(--color-theme8-text);
  --color-primary: var(--color-theme8-primary);
  --color-primary-hover: var(--color-theme8-primary-hover);
  --color-button-bg: var(--color-theme8-button-bg);
  --color-border: var(--color-theme8-border);
  --color-shadow: var(--color-theme8-shadow);
  --color-stat-background: var(--color-theme8-stat-background);
  --color-stat-text: var(--color-theme8-stat-text);
}

body.theme9 {
  --color-background: var(--color-theme9-background);
  --color-text: var(--color-theme9-text);
  --color-primary: var(--color-theme9-primary);
  --color-primary-hover: var(--color-theme9-primary-hover);
  --color-button-bg: var(--color-theme9-button-bg);
  --color-border: var(--color-theme9-border);
  --color-shadow: var(--color-theme9-shadow);
  --color-stat-background: var(--color-theme9-stat-background);
  --color-stat-text: var(--color-theme9-stat-text);
}

body.theme10 {
  --color-background: var(--color-theme10-background);
  --color-text: var(--color-theme10-text);
  --color-primary: var(--color-theme10-primary);
  --color-primary-hover: var(--color-theme10-primary-hover);
  --color-button-bg: var(--color-theme10-button-bg);
  --color-border: var(--color-theme10-border);
  --color-shadow: var(--color-theme10-shadow);
  --color-stat-background: var(--color-theme10-stat-background);
  --color-stat-text: var(--color-theme10-stat-text);
}

body.theme11 {
  --color-background: var(--color-theme11-background);
  --color-text: var(--color-theme11-text);
  --color-primary: var(--color-theme11-primary);
  --color-primary-hover: var(--color-theme11-primary-hover);
  --color-button-bg: var(--color-theme11-button-bg);
  --color-border: var(--color-theme11-border);
  --color-shadow: var(--color-theme11-shadow);
  --color-stat-background: var(--color-theme11-stat-background);
  --color-stat-text: var(--color-theme11-stat-text);
}

body.theme12 {
  --color-background: var(--color-theme12-background);
  --color-text: var(--color-theme12-text);
  --color-primary: var(--color-theme12-primary);
  --color-primary-hover: var(--color-theme12-primary-hover);
  --color-button-bg: var(--color-theme12-button-bg);
  --color-border: var(--color-theme12-border);
  --color-shadow: var(--color-theme12-shadow);
  --color-stat-background: var(--color-theme12-stat-background);
  --color-stat-text: var(--color-theme12-stat-text);
}

body.theme13 {
  --color-background: var(--color-theme13-background);
  --color-text: var(--color-theme13-text);
  --color-primary: var(--color-theme13-primary);
  --color-primary-hover: var(--color-theme13-primary-hover);
  --color-button-bg: var(--color-theme13-button-bg);
  --color-border: var(--color-theme13-border);
  --color-shadow: var(--color-theme13-shadow);
  --color-stat-background: var(--color-theme13-stat-background);
  --color-stat-text: var(--color-theme13-stat-text);
}

body.modern-theme {
  --color-background: var(--color-modern-background);
  --color-text: var(--color-modern-text);
  --color-primary: var(--color-modern-primary);
  --color-primary-hover: var(--color-modern-primary-hover);
  --color-button-bg: var(--color-modern-button-bg);
  --color-border: var(--color-modern-border);
  --color-shadow: var(--color-modern-shadow);
  --color-stat-background: var(--color-modern-stat-background);
  --color-stat-text: var(--color-modern-stat-text);
}

/* General body styles */
body {
  font-family: var(--font-family), serif;
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  transition: background-color 0.3s ease;
}

button {
  border-radius: 8px;
  border: 1px solid var(--color-border);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-button-bg);
  cursor: pointer;
  transition: all 0.25s;
  color: var(--color-text);
}

button:hover {
  border-color: var(--color-primary);
  background-color: var(--color-primary-hover);
  color: var(--color-background);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input, textarea {
  background-color: var(--color-background);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  padding: 8px;
  border-radius: 5px;
}

input::placeholder, textarea::placeholder {
  color: var(--color-text);
}
