@keyframes vibrate {
    0% { transform: translate(0); }
    25% { transform: translate(-2px, 2px); }
    50% { transform: translate(2px, -2px); }
    75% { transform: translate(-2px, -2px); }
    100% { transform: translate(2px, 2px); }
}

@keyframes blink {
    0%, 100% { background-color: initial; }
    50% { background-color: yellow; }
}

.vibrating {
    animation: vibrate 0.1s linear infinite;
}

.blinking {
    animation: blink 1s linear infinite;
}



.reminder-icon {
    margin-left: 10px;
    color: var(--color-primary);
    font-size: 1em;
    width: 40px;
    height: 40px;
}

.todolist-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.todo-input-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 10;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-label {
    color: var(--color-text);
    margin-bottom: 5px;
}

.task-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-border);
    margin-bottom: 10px;
}

.add-task-button {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-primary);
    color: var(--color-text);
    cursor: pointer;
    z-index: 10;
}

.tasks-container {
    flex: 1;
    overflow-y: auto;
    max-height: calc(100vh - 200px);
    padding-right: 10px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-background);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: var(--color-shadow);
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
}

.task-text {
    flex: 1;
    margin-left: 10px;
}

.delete-button {
    background-color: var(--color-red-light-primary);
    color: var(--color-red-light-text);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 10;
}

.delete-button:hover {
    background-color: var(--color-red-light-primary-hover);
}

.toggle-completed {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.toggle-completed input {
    margin-right: 5px;
}
