.theme-switcher {
    position: relative;
}

.theme-switcher-popup {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--color-background);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    box-shadow: 0 4px 8px var(--color-shadow);
    z-index: 1000;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Affichage en grille */
    gap: 5px;
}

.theme-preview {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    color: var(--color-text); /* For better readability */
    border: 1px solid transparent;
    border-radius: 5px;
}

.theme-preview.selected {
    border: 2px solid var(--color-primary);
}

.theme-preview:hover {
    background-color: var(--color-shadow);
}

.light-theme {
    background-color: var(--color-light-background);
    color: var(--color-light-text);
}

.dark-theme {
    background-color: var(--color-dark-background);
    color: var(--color-dark-text);
}

.blue-light-theme {
    background-color: var(--color-blue-light-background);
    color: var(--color-blue-light-text);
}

.blue-dark-theme {
    background-color: var(--color-blue-dark-background);
    color: var(--color-blue-dark-text);
}

.green-light-theme {
    background-color: var(--color-green-light-background);
    color: var(--color-green-light-text);
}

.green-dark-theme {
    background-color: var(--color-green-dark-background);
    color: var(--color-green-dark-text);
}

.red-light-theme {
    background-color: var(--color-red-light-background);
    color: var(--color-red-light-text);
}

.red-dark-theme {
    background-color: var(--color-red-dark-background);
    color: var(--color-red-dark-text);
}

.pastel-light-theme {
    background-color: var(--color-pastel-light-background);
    color: var(--color-pastel-light-text);
}

.pastel-dark-theme {
    background-color: var(--color-pastel-dark-background);
    color: var(--color-pastel-dark-text);
}

.theme1 {
    background-color: #222831;
    color: #EEEEEE;
}

.theme2 {
    background-color: #E3FDFD;
    color: #71C9CE;
}

.theme3 {
    background-color: #F9F7F7;
    color: #112D4E;
}

.theme4 {
    background-color: #FFC7C7;
    color: #8785A2;
}

.theme5 {
    background-color: #FFF5E4;
    color: #FF9494;
}

.theme6 {
    background-color: #AD8B73;
    color: #FFFBE9;
}

.theme7 {
    background-color: #08D9D6;
    color: #EAEAEA;
}

.theme8 {
    background-color: #F9ED69;
    color: #6A2C70;
}

.theme9 {
    background-color: #F4EEFF;
    color: #424874;
}

.theme10 {
    background-color: #F38181;
    color: #95E1D3;
}

.theme11 {
    background-color: #1B262C;
    color: #BBE1FA;
}

.theme12 {
    background-color: #A8D8EA;
    color: #FFFFD2;
}