.theme-switcher {
    position: relative;
}

.theme-switcher-popup {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--color-background);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    box-shadow: 0 4px 8px var(--color-shadow);
    z-index: 1000;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Affichage en grille */
    gap: 5px;
}

.theme-preview {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    color: var(--color-text); /* Pour une meilleure lisibilité */
    border: 1px solid transparent;
    border-radius: 5px;
}

.theme-preview.selected {
    border: 2px solid var(--color-primary);
}

.theme-preview:hover {
    background-color: var(--color-shadow);
}

.light-theme {
    background-color: var(--color-light-background);
    color: var(--color-light-text);
}

.dark-theme {
    background-color: var(--color-dark-background);
    color: var(--color-dark-text);
}

.blue-light-theme {
    background-color: var(--color-blue-light-background);
    color: var(--color-blue-light-text);
}

.blue-dark-theme {
    background-color: var(--color-blue-dark-background);
    color: var(--color-blue-dark-text);
}

.green-light-theme {
    background-color: var(--color-green-light-background);
    color: var(--color-green-light-text);
}

.green-dark-theme {
    background-color: var(--color-green-dark-background);
    color: var(--color-green-dark-text);
}

.red-light-theme {
    background-color: var(--color-red-light-background);
    color: var(--color-red-light-text);
}

.red-dark-theme {
    background-color: var(--color-red-dark-background);
    color: var(--color-red-dark-text);
}

.pastel-light-theme {
    background-color: var(--color-pastel-light-background);
    color: var(--color-pastel-light-text);
}

.pastel-dark-theme {
    background-color: var(--color-pastel-dark-background);
    color: var(--color-pastel-dark-text);
}

.theme1 {
    background-color: var(--color-theme1-background);
    color: var(--color-theme1-text);
}

.theme2 {
    background-color: var(--color-theme2-background);
    color: var(--color-theme2-text);
}

.theme3 {
    background-color: var(--color-theme3-background);
    color: var(--color-theme3-text);
}

.theme4 {
    background-color: var(--color-theme4-background);
    color: var(--color-theme4-text);
}

.theme5 {
    background-color: var(--color-theme5-background);
    color: var(--color-theme5-text);
}

.theme6 {
    background-color: var(--color-theme6-background);
    color: var(--color-theme6-text);
}

.theme7 {
    background-color: var(--color-theme7-background);
    color: var(--color-theme7-text);
}

.theme8 {
    background-color: var(--color-theme8-background);
    color: var(--color-theme8-text);
}

.theme9 {
    background-color: var(--color-theme9-background);
    color: var(--color-theme9-text);
}

.theme10 {
    background-color: var(--color-theme10-background);
    color: var(--color-theme10-text);
}

.theme11 {
    background-color: var(--color-theme11-background);
    color: var(--color-theme11-text);
}

.theme12 {
    background-color: var(--color-theme12-background);
    color: var(--color-theme12-text);
}

.theme13 {
    background-color: var(--color-theme13-background);
    color: var(--color-theme13-text);
}

.modern-theme {
    background-color: var(--color-modern-background);
    color: var(--color-modern-text);
}
