/* Style général de la carte */
.card {
    border: 1px solid #ccc; /* Bordure grise claire autour de la carte */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère autour de la carte */
    background-color: #fff; /* Couleur de fond claire */
    display: flex; /* Utilise le modèle de boîte flex pour les éléments enfants */
    flex-direction: column; /* Les enfants sont disposés en colonne */
    justify-content: center; /* Centre les enfants verticalement */
    align-items: center; /* Centre les enfants horizontalement */
    border-radius: 10px; /* Les coins de la carte sont arrondis */
    padding: 10px; /* Espace intérieur autour du contenu de la carte */
    position: relative; /* Positionne les éléments relatifs à la carte */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transitions douces pour l'ombre et la transformation */
    cursor: default; /* Le curseur ne change pas au survol */
    color: #000; /* Texte noir à l'intérieur de la carte */
    overflow: hidden; /* Cache tout débordement */
}

/* Effet au survol pour la carte */
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Augmente l'ombre au survol */
    transform: translateY(-2px); /* Soulève la carte de 2px au survol */
}

/*material_UI_btn*/
.card .pin-btn {
    right: 5px; /* Positionne le bouton de redimensionnement à 5px de la droite */
    top: 5px; /* Positionne le bouton de redimensionnement à 5px du bas */
    cursor: pointer; /* Le curseur de redimensionnement est "sud-est" */
    opacity: 0; /* Le bouton de redimensionnement est visible */
}
.card:hover .card-btn,
.card:hover .pin-btn{
    opacity: 1; /* Les boutons deviennent visibles au survol de la carte */
}

