/* Style général de la carte */
.card {
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(133, 90, 175, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: default;
    color: #fff;
}

/* Effet au survol pour la carte */
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

/* Styles spécifiques pour les boutons de la carte */
.card .card-btn {
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.card .close-btn {
    top: 10px;
    right: 10px;
}

.card .resize-btn {
    right: 5px;
    bottom: 5px;
    cursor: se-resize;
    opacity: 1;
}

.card .minimize-btn {
    top: 10px;
    right: 50px;
}

.card .resizeCard {
    right: 5px;
    bottom: 5px;
    cursor: se-resize;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.card:hover .card-btn,
.card:hover .resize-handle {
    opacity: 1;
}